<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu: </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Get all recipes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <button *ngIf="role == 'Admin'" class="nav-link" href="#" (click)="goToRegisterCook()">Register cook</button>
        </li>
        <li class="nav-item">
            <button *ngIf="role == 'Admin'" class="nav-link" href="#" (click)="goToGetAllCooks()">Get all cooks</button>
          </li>
        <li class="nav-item">
          <button *ngIf="role == 'Admin'" class="nav-link" href="#" (click)="goToGetAllIngredients()">Get all ingredients</button>
        </li>
        <li class="nav-item">
          <button *ngIf="role == 'Admin'" class="nav-link" href="#" (click)="goToCreateIngredient()">Create ingredient</button>
        </li>
        <li class="nav-item">
          <button *ngIf="role == 'Admin'" class="nav-link" href="#" (click)="goToDeleteIngredient()">Delete ingredient</button>
        </li>
        <li class="nav-item">
            <button *ngIf="role == 'Cook'" class="nav-link" href="#" (click)="goToCreateRecipe()">Create recipe</button>
        </li>
        <li class="nav-item">
            <button *ngIf="role == 'Cook'" class="nav-link" href="#" (click)="goToDeleteRecipe()">Delete recipe</button>
        </li>
          <li>
            <button *ngIf="!isAuthenticated" (click)="goToLogIn()">Log in </button>
          </li>
          <li>
            <button *ngIf="!isAuthenticated" (click)="goToRegister()">Register</button>
          </li>
          <li>
            <button *ngIf="isAuthenticated" (click)="logout()">Log Out</button>
          </li>
      </ul>
    </div>
  </nav>
